@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body { 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  height: 140vh;
  background: linear-gradient(#f09009,#ea0909);

}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 2px solid #3c009d;
}
.navbar h1 {
  color: #3c009d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3c009d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 70%;
  height: 40%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
  font-size: 70px;
  color: #3c009d
}
.inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: transparent;

}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #f8f8f8;
  border-radius: 20px;
  margin-top: 20px;
}
.input input{
    height: 60px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #3c009d;
    font-size: 19px;
}
.input input::placeholder {
  color: #3c009d;
}
.input img {
  margin: 0px 30px;
  
}
.button {
  border-radius: 20px;
  border: none;
  outline: none;
  margin: auto;
  margin-top: 40px;
  font-size: 40px;
  background-color: #3c009d;
  color: #f8f8f8;
  padding: 8px 30px;
  cursor: pointer
}
.validation{
  margin: auto;
  margin-top: 10%;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color:  red;
  ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
  font-size: 70px;
  color: #3c009d
}

.modal-content button {
  border-radius: 20px;
  border: none;
  outline: none;
  margin: auto;
  margin-top: 40px;
  font-size: 40px;
  background-color: #3c009d;
  color: #f8f8f8;
  padding: 8px 30px;
  cursor: pointer;
 
}
